<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="wp81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="wp81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="wp81" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp81" />
  <package id="SQLitePCL.bundle_green" version="0.9.2" targetFramework="wp81" />
  <package id="SQLitePCL.cppinterop" version="0.9.2" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>